#about-me-nav {
	color: yellow;
}

/* margin and padding debugging */
main * {
	/*border: 2px solid white;*/
}

main div {
	/*border: 2px dashed white;*/
}

#biography {
}

#biography div {
}

#biography-photo {
	width: 50%;
	margin: auto;
	padding: auto;
}

#biography-photo img {
	display: block;
	width: 40%;
    min-width: 40px;
    margin: auto;
    border: 2px solid #ddd;
}

#biography-text {
	width: 50%;
	margin: auto;
}

#biography-text dl dt{
	display: inline;
}

#biography-text dl dd{
	display: inline;
}

#biography-text p {
	padding: 5%;
	margin-top: 0em;
}

@media only screen and (min-width: 1000px) {
	#biography-text {
		font-size: 1.5em;
	}
}









