#about-me-nav {
	color: white;
}

/* margin and padding debugging */
main * {
	/*border: 1px solid white;*/
}

main div {
	/*border: 2px dashed white;*/
}

section {
	width: 60%;
	margin: auto;
	box-sizing: border-box;
	padding: 0;
}

#biography > div {
	box-sizing: border-box;
	padding: 10px;
}

#biography-photo {
	/*width: 60%;*/
	margin: auto;
}

#biography-text {
	margin: auto;
	/*width: 60%;*/
	text-align: left;
}

#biography-text * {
	margin: 0em;
	bottom-margin: 0em;
}

#biography-photo img {
	width: 100%;
}

#biography-text p {
}

section#contact {
	text-align: center;
}

section#contact a {
	margin: auto;
}


@media only screen and (max-width: 768px) {
#biography > div {
}
}









