#biography-photo {
	max-width: 100%;
	max-height: 100%;
	margin: auto;	
	margin-bottom: 0px;
}

#biography-photo img {
	width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    margin: auto;
    padding: auto;
    display: block;
}

#biography {
	text-align: center;
}

#biography-text {
	border: 3px solid white;
	margin-top: 0px;
	margin-left: 10%;
	margin-right: 10%;
}

#biography-text p {
	padding: 5%;
	border: 3px solid white;
	width: 100%;
}

@media only screen and (min-width: 1000px) {
	#biography-text {
		font-size: 1.5em;
	}
}









