#development-nav {
	color: white;
}

main *, main {
	/*border: 1px dashed white;*/
}

main {
	width: 90%;
	margin: auto;
}

main div.row {
	display: inline-block;
}

section {
	box-sizing: border-box;
	width: 100%;
}

section > div {
	margin: auto;
	width: 80%;
	text-align: left;
}

section a > * {
	display: inline-block;
}

section div a > h2 {
	margin: 5px;
}

section p {
	font-size: 1em;
}

main a:hover {
	color: yellow;
}

div.thumbnail-container {
	margin-bottom: 10px;
}

.thumbnail {
    /*border: 1px solid #eee; /* Gray border */*/
    /*border-radius: 5px;  /* Rounded border */*/
    /*padding: 1px;  Some padding */
    /*min-width: 40px;*/
    max-height: 30px;
    max-width: 100%;
}


@media screen and (max-width: 768px) {

}

