@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Barlow:100,700');

/* used for: header */
.centered {
    font-family: 'Barlow', sans-serif;
    font-weight: bold 700;
    margin: auto;
    width: 50%;
    text-align: center;
    color: #3DBDB2;
}

.centered h1 {
	margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
	.centered h1 {
		font-size: 5em;
	}

}

.centered h2 {
	text-align: center;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
	.centered h2 {
		text-align: center;
	    font-weight: 100;
	}
	.centered {
	    font-family: 'Barlow', sans-serif;
	    font-weight: bold 700;
	    margin: auto;
	    width: 100%;
	    text-align: center;
	    color: #3DBDB2;
}
}


/* GENERAL */

body {
	background-color: #1d1d1d;

	/*vignette*/
    /*box-shadow: inset 0 0 8em 3em #111;*/ 

    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;    

    font-size: 100%;
	background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
	color: #ddd;

	margin: 0;
	padding: 0;
}


/* remove styling from hyperlinks*/
body a {
	color: inherit;
	text-decoration: none;
}


/* FONT SIZES */

body * {
	margin: 1em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 0.875em;
}

#email {
	color: #3DBDB2;
}


@media screen and (max-width: 600px) {
	body div {
		font-size: 100%;
	}
}

