@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Barlow:100,700');

/* used for: header */
.centered {
    font-family: 'Barlow', sans-serif;
    font-weight: bold 700;
    margin: auto;
    width: 50%;
    text-align: center;
    color: #3DBDB2;
}

.centered h1 {
	margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
	.centered h1 {
		font-size: 5em;
	}

}

.centered h2 {
	text-align: center;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
	.centered h2 {
		text-align: center;
	    font-weight: 100;
	}
	.centered {
	    font-family: 'Barlow', sans-serif;
	    font-weight: bold 700;
	    margin: auto;
	    width: 100%;
	    text-align: center;
	    color: #3DBDB2;
}
}


/* GENERAL */

body {
	background-color: #1d1d1d;

	/*vignette*/
    /*box-shadow: inset 0 0 8em 3em #111;*/ 

    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;    

    font-size: 100%;
	background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
	color: #ddd;

	margin: 0;
	padding: 0;
}

/* remove styling from hyperlinks*/
body a {
	color: inherit;
	text-decoration: none;
}


/* SECTIONS (links to different sections of portfolio) */

div.section {

	min-height: 300px;
	height: auto;
	width: auto;

	margin-left: 5%;
	margin-right: 5%;

	font-weight: bold;

	position: relative;

	text-align: center;
    vertical-align: middle;

	-webkit-transition: filter .4s ease-in;
	-moz-transition: filter .4s ease-in;
	-o-transition: filter .4s ease-in;
	transition: filter .4s ease-in;
}

#photography {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#music-production {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#about-me {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/cody2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*TEXT ON IMAGE*/
div.section-text {

	color: #fff;
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;
    vertical-align: middle;

    line-height: 300px;

    border: 8px double #3DBDB2;
}



/*HOVER EFFECTS*/
/* only hover effect with screen size bigger than phones/specific tablets */
@media screen and (min-width: 600px) {
	.section:hover {
	filter: brightness(150%);
	}
}


/* FONT SIZES */

body * {
	margin: 1em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 0.875em;
}

#email {
	color: #3DBDB2;
}


@media screen and (max-width: 600px) {
	body div {
		font-size: 100%;
	}
}

