#music-production-nav {
	color: yellow;
}

#gallery {
	min-height: 300px;
	max-width: auto;
	width: 80%;

	padding-top: 20px;
	margin-left: 10%;
	margin-right: 10%;

	text-align: center;
	display: block;
}

div.song {
	vertical-align: middle;
	margin: auto;
}