#music-production-nav {
	color: white;
}

main * {
	text-align: left;
}

main > div {
	max-width: auto;
	width: 80%;

	padding-top: 20px;
	margin-left: 10%;
	margin-right: 10%;

	display: block;
}

div.song {
	vertical-align: middle;
	margin: auto;
}

div.song h2 {
	margin-bottom: 0px;
}