button.accordion {
    background-color: #555;
    color: #3DBDB2;
    cursor: pointer;
    padding: .2em;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

div.accordion-content a {
	color: #3DBDB2;
}

button.accordion h2:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    color: #3DBDB2;
    float: right;
}

button.accordion.active h2:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: yellow;

}

button.accordion.active, button.accordion:hover {
    background-color: #999;
    color: yellow;
}

div.accordion-content {
	display: none;
	width: 80%;
	text-align: left;
	margin-left: 1em;
	min-width: ;
}


.thumbnail {
    border: 1px solid #eee; /* Gray border */
    border-radius: 5px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 50%; /* Set a small width */
    min-width: 20em;
}

body * {
	/*border: 3px solid white;*/
}