@import url('https://fonts.googleapis.com/css?family=Muli:300,400');


/*GENERAL*/

body {
	background-color: #339;
	color: #eee;

	font-family: 'Muli';
	font-weight: 300;
	font-size: .8em;

	margin: 0;
	padding: 0;
}


a:visited {
	color: #eee;
}


p {
	font-size: 1em;	
	text-align: left;
}


a {
	text-decoration: none;
	color: #eee;
}

.title {
	font-family: 'Muli';

	text-align: center;
	font-size: 3em;
	margin: 0;
	padding: 10px;
	text-align: center;
}



/*NAVIGATION BAR*/

#nav-bar {
	text-align: center;
	margin-bottom: 15px;
}


#nav-bar a {
	display: inline-block;
	width: 15%;
	height: 30px;
}


.current-nav-link {
	border-bottom: 1px solid #eee;
}





/*HOME PAGE*/


#cover-section img {
	width: 100%;
}

 


/*CONTENT*/


.content-container {
	text-align: center;
	margin: auto;
	width: 80%;
}




/*FOOTER*/


footer div {
	font-size: .8em;
	display: inline-block;
	padding: 20px;
	padding-left: 60px;
	padding-right: 60px;
	margin-bottom: 50px;
	width: 50%;
	box-sizing: border-box;
}

.footer-left {
	text-align: left;
}

.footer-right {
	float: right;
	text-align: right;
}



/*MOBILE RESPONSIVENESS*/
@media screen and (max-width: 800px) {

	#nav-bar a {
		text-align: center;
		width: 40%;
		font-size: 1.5em;
		display: block;
		margin: auto;
		margin-bottom: 10px;
	}

	#nav-bar {
		border-bottom: 1px solid #eee;
	}


}


/*================================================================================================*/

/*PHOTOGRAPHY*/


.photo {
	width: 100%;
	margin: auto;
	margin-bottom: 15px;
	display: block;
	/*border: 5px solid #eee;*/
}

