* {
    font-family: "Open Sans", Sans-serif;
}
body {
    background: #cbcbcb;
}

a {
    /*color: #330033;*/
}

/*Navigation*/
.nav {
    background: #cbcbcb;
    border: 2px solid #00000;
}

.nav-links {
    color: #5a5a5a;
    font-size: 15px;
    font-weight: bold;
    padding-top: 30px;
    padding-right: 20px;
    text-transform: uppercase;
}

.nav-links li {
    display: inline;
    padding-left: 20px;
}

/*Home Button*/
.home h1 {
    padding-bottom: 10px
}


/*Tabs*/
.nav-tabs .tab {
}


/*Submission text fields and button*/
.tab-content .container {
    padding: 7px;
}

.post-button {
    margin: 10px;
}


/*Post feed*/
.post small p {
    display: inline;
}

.newsfeed {
    list-style-type: none;
}

.post {
    padding: 20px;
    background: #ededed;
    border-radius: 5px;
}
